.form {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  margin: 0 auto;
}

.form__button {
  margin-top: 20px;
  &:hover,
  &:focus {
    background-color: rgb(123, 123, 184);
    cursor: pointer;
  }
}

.filter {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  margin: 0 auto;
  font-weight: 700;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  margin: 0 auto;
}

.contacts__button {
  margin-left: 10px;
}
